.CodingPage {
  height: 100% !important;
  width: 100% !important;
  /* background-color: rgb(255, 215, 199); */
}
#Appbar {
  display: flex;
  background-color: #14b8e0 !important;
  align-items: center;
  height: 50px;
  font-family: "Segoe UI";
  color: white;
}
#Pagecontainer {
  display: flex;
  height: auto;
  width: 100%;
  border: 1px solid;
}
.Panelcontainer {
  display: flex;
  flex-direction: column;

  border-top: 1px solid;
  padding: 9px;
}

#Rightcontainer {
  width: 25%;
}
#Leftcontainer {
  width: 75%;
  height: 100%;

  /* border-right: 1px solid; */
}
.Panelbutton {
  height: auto;
  font-size: 1.2rem;
  box-shadow: 1px 1px 3px #000000;
  text-align: center;
  border-radius: 40px;
  background-color: #14b8e0;
  color: white;
  outline: 0 !important;
  outline: none;
  border: none;
  padding: 5px;
  width: auto;
}

.Panelbutton:hover {
  /* outline: 0 !important;
  outline: none;
  background-color: #14b8e0;
  color: white;
  border: none; */
  box-shadow: 2px 2px 9px #000000;
}
.Panelbutton:active {
  outline: 0 !important;

  border: none;
  outline: none;
  margin-left: 1px 1px 0;
  box-shadow: -1px -1px 1px #000;
  outline: 1px solid #000000;
  -moz-outline-radius: 7px;
  background-color: #106d85;
}
.Buttoncontainer {
  display: flex;
  width: 300px;
  justify-content: space-evenly;
}

.Option {
  display: list-item;
  text-align: left;
  background-color: rgb(233, 233, 233);
  width: 100%;
  height: auto;
}
.OptionContainer {
  display: inline-flex;
  justify-items: space-between;
  align-items: center;
}

#Question {
  text-align: left;
  padding-left: 30px;
  border: 1px solid;
}

#Rightcontainer {
  height: 100%;
  /* background-color: #234475; */
}
#info {
  border: 1px solid;
  height: 200px;
}

#questionpanel {
  margin-top: 9px;
  height: 70%;
  border: 1px solid;
  height: 400px;
  /* overflow: hidden;
  overflow-y: scroll; */
}

.grid-container {
  display: grid;
  padding: 5px;
  grid-template-columns: auto auto auto;
  background-color: transparent;
  padding: 10px;
  grid-column-gap: 20px;
  grid-row-gap: 15px;
}
.grid-item {
  display: flex;
  justify-content: center;
}
