:root {
  --primaryDark: #ffa000;
  --accent: #ff9800;
  --primary: #ffc107;
  --secondaryText: #757575;
  --dividerColor: #bdbdbd;
  --primaryText: #212121;
  --text: #212121;
  --primaryLight: #ffecb3;
  --shade: rgb(212, 209, 209);
}

.CodingPage {
  height: 100% !important;
  width: 100% !important;
  /* background-color: rgb(255, 215, 199); */
}
#Appbar {
  display: flex;
  background-color: var(--primaryDark) !important;
  align-items: center;
  height: 60px;
  font-family: "Segoe UI";
  color: white;
  box-shadow: 2px 2px 9px #3f3f3f;
}
#Pagecontainer {
  display: flex;
  height: auto;
  width: 100%;
  border: 1px solid;
}
.Panelcontainer {
  display: flex;
  flex-direction: column;

  border-top: 1px solid;
  padding: 9px;
}

#Rightcontainer {
  width: 15%;
  min-width: 265px;
}
#Leftcontainer {
  width: 95%;
  min-width: 600px;
  height: 100%;

  /* border-right: 1px solid; */
}
.Panelbutton {
  height: auto;
  font-size: 1.2rem;
  box-shadow: 1px 1px 3px #000000;
  text-align: center;
  border-radius: 5px;
  background-color: var(--primary);
  color: white;
  outline: 0 !important;
  outline: none;
  border: none;
  padding: 5px;
  width: auto;
  transition: 0.1s;
}

.Panelbutton:hover {
  /* outline: 0 !important;
  outline: none;
  background-color: #14b8e0;
  color: white;
  border: none; */
  box-shadow: 2px 2px 9px #000000;
}
.Panelbutton:active {
  transition: 0.2s;
  outline: 0 !important;
  border: none;
  outline: none;
  margin-left: 1px 1px 0;
  box-shadow: -1px -1px 1px #000;
  outline: 1px solid #000000;
  -moz-outline-radius: 7px;
  background-color: var(--accent);
}
.Buttoncontainer {
  display: flex;
  width: 300px;
  justify-content: space-evenly;
}

.Option {
  display: list-item;
  text-align: left;
  background-color: var(--primaryLight);
  width: 100%;
  height: auto;
}
.OptionContainer {
  display: inline-flex;
  justify-items: space-between;
  align-items: center;
}

#Question {
  text-align: left;
  padding-left: 30px;
  border: 0px solid;
  border-radius: 500px;
  box-shadow: 2px 3px 10px #000000;
  margin-bottom: 7px;
}

#Rightcontainer {
  height: 100%;
  /* background-color: #234475; */
}
#info {
  border: 1px solid;
  height: 200px;
}

#questionpanel {
  margin-top: 9px;
  height: 70%;
  border: 1px solid;
  height: 400px;
  /* overflow: hidden;
  overflow-y: scroll; */
}

.grid-container {
  display: grid;
  padding: 5px;
  grid-template-columns: auto auto auto;
  background-color: transparent;
  padding: 10px;
  grid-column-gap: 20px;
  grid-row-gap: 15px;
}
.grid-item {
  display: flex;
  justify-content: center;
}

#submit {
  background-color: var(--secondaryText);
  color: white;
}

#submit:active {
  background-color: #505050;
}

#submit:disabled {
  background-color: tomato;
}

#Answer {
  background-color: rgb(224, 223, 223);
  height: 300px;
  padding: 5px;
}
#textinputcontainer {
  background-color: var(--shade);
  width: 100%;
  height: 100% !important;
  text-align: left;
  padding: 1px;
}
#textinput {
  height: 100px;
  resize: none;
  margin-top: 0px;
  margin-left: 20px;
  font-size: 18px;
  max-width: 800px;
  width: 70%;
  border-radius: 4px;
  padding: 15px;
  background-color: rgb(255, 247, 247);
  box-shadow: 2px 3px 8px #000000;
  transition: 0.2s;
  outline: none;
}

#textinput:focus {
  transition: 0.2s;
  box-shadow: 4px 6px 16px #502d00;
}

.swal-modal {
  font-family: "Segoe UI";
}

.swal-button {
  height: auto !important;
  font-size: 1.2rem !important;
  box-shadow: 1px 1px 3px #000000 !important;
  text-align: center !important;
  border-radius: 5px !important;
  background-color: var(--primary) !important;
  color: white !important;
  outline: 0 !important;
  outline: none !important;
  border: none !important;
  padding: 5px !important;
  width: 50px !important;
  transition: 0.1s !important;
}

.swal-button:focus {
  outline: 0 !important;
  outline: none;
}

.swal-button:active {
  transition: 0.2s;
  outline: 0 !important;
  border: none;
  outline: none;
  margin-left: 1px 1px 0;
  box-shadow: -1px -1px 1px #000;
  outline: 1px solid #000000;
  -moz-outline-radius: 7px;
  background-color: var(--accent);
}
.swal-button:hover {
  box-shadow: 2px 2px 9px #000000;
  background-color: var(--accent) !important;
}
